.leaflet-container {
  background: #FFF;
}

.Cweek1 {
  transform: translateZ(0); 
}

/* Map styling */
.leaflet-bottom.leaflet-left {
  width: 33%;
  min-width: 22em;
  max-width: 90vw;
}

.leaflet-control-layers-base {
  max-width: 20vw;
}

.leaflet-control-layers-base, .legend {
  font-size: 0.8em;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 0;
    background-color: rgba(255,255,255,0.8);
    background-clip: padding-box;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar .info {
  box-shadow: 0 0 8px rgba(0, 59, 115, 0.2) !important;
}

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: 0 0 8px rgba(0, 59, 115, 0.2) !important;
}

#map .level2 {
  min-height: 90vh;
}

.leaflet_title {
  margin-left: 0;
  text-shadow: 0 0 1.5em white;
}

.leaflet_title h1, .leaflet_title h2 {
  color: #003b73;
  margin-top: 0;
  margin-left: 40px;
  max-width: 70vw;
  text-shadow: 0 0 10px white;
}

.leaflet_title h1 {
  margin-bottom: 0;
}

.leaflet_title h2 {
  margin-bottom: 2em;
}

@media (max-width: 767px) {
  .leaflet_title h1 {
    font-size: 1.6em;
    max-width: 50vw;
    font-weight: 900;
  }
  
  .leaflet_title h2 {
    font-size: 1.3em;
    max-width: 50vw;
    font-weight: 900;
  }
}

@media (max-width: 576px) {
  .leaflet_title h1, .leaflet_title h2 {
    margin-left: 10px;
    max-width: 60vw;
  }
}

@media (min-width: 768px) { 
  .leaflet-control-layers-base, .legend {
    font-size: 1em;
  }

  #map {
    min-height: 0;
  }
}

@media (min-width: 576px) {
  .leaflet-timeline-control {
    min-width: 500px;
  }
}

.leaflet-control.leaflet-timeline-control input[type="range"] {
    min-width: 65% !important;
}

.leaflet-control.leaflet-timeline-control .sldr-ctrl-container,
.leaflet-control.leaflet-timeline-control .button-container { 
  min-width: 80px; 
}

div.dt-button-collection {
    width: 300px;
}

#ltla-search {
  margin-top: 1.7em;
  margin-bottom: 1em;
}

.form-group {
  text-align: center;
}

@media (max-width: 576px) {
  .leaflet-control.leaflet-timeline-control .prev,
  .leaflet-control.leaflet-timeline-control .next {
    display: none;
  }

  .leaflet-control.leaflet-timeline-control .sldr-ctrl-container,
  .leaflet-control.leaflet-timeline-control .button-container {
    min-width: 30px;
  }
}

