.leaflet-container {
  background: #FFF;
}

.Cweek1 {
  transform: translateZ(0); 
}

a.cases_button {
  display: inline-block;
  background-color: #003B73;
    color: rgba(255,255,255,0.8);
  margin: 0;
  margin-bottom: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  width: 8em;
  line-height: 1.1;
  text-decoration: none !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Fancy arrow button, only shown on larger devices */
    a.cases_button {
      padding-left: 3.0em;
      padding-right: 2.2em;
      width: 11em;
      line-height: 1.1;
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
      margin-right: -2.5em;
    }
}

.cases_button_date_to {
  float: right; 
}

a.cases_button:hover {
  color: rgba(255,255,255,1.0);
  text-decoration: none !important;
}

a.cases_button:active {
  color: rgba(255,255,255,1.0);
  text-decoration: none !important;
}

a.cases_button:visited {
  text-decoration: none !important;
}

a.cases_button:active {
  text-decoration: none !important;
}

a.cases_button_active {
  color: rgba(255,255,255,1.0);
  background-color: #0069CC;
}

/* Map styling */
.leaflet-bottom.leaflet-left {
  width: 33%;
  min-width: 22em;
  max-width: 90vw;
}

.leaflet-control-layers-base {
  max-width: 20vw;
}

.leaflet-control-layers-base, .legend {
  font-size: 0.8em;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 0;
    background-color: rgba(255,255,255,0.8);
    background-clip: padding-box;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar .info {
  box-shadow: 0 0 8px rgba(0, 59, 115, 0.2) !important;
}

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: 0 0 8px rgba(0, 59, 115, 0.2) !important;
}

#map .level2 {
  min-height: 90vh;
}

.leaflet_title {
  margin-left: 0;
  text-shadow: 0 0 1.5em white;
}

.leaflet_title h1, .leaflet_title h2 {
  color: #003b73;
  margin-top: 0;
  margin-left: 40px;
  max-width: 70vw;
  text-shadow: 0 0 10px white;
}

.leaflet_title h1 {
  margin-bottom: 0;
}

.leaflet_title h2 {
  margin-bottom: 2em;
}

@media (max-width: 767px) {
  .leaflet_title h1 {
    font-size: 1.6em;
    max-width: 50vw;
    font-weight: 900;
  }
  
  .leaflet_title h2 {
    font-size: 1.3em;
    max-width: 50vw;
    font-weight: 900;
  }
}

@media (min-width: 768px) { 
  .leaflet-control-layers-base, .legend {
    font-size: 1em;
  }

  #map {
    min-height: 0;
  }
}

.leaflet-control.leaflet-timeline-control input[type="range"] {
    width: 75% !important;
}

.leaflet-control.leaflet-timeline-control .sldr-ctrl-container { 
  min-width: 4em; 
}

div.dt-button-collection {
    width: 300px;
}

#ltla-search {
  margin-top: 1.7em;
  margin-bottom: 1em;
}

.form-group {
  text-align: center;
}
